{% extends "bootstrap/base.html" %}
{% block title %}UserRegister{% endblock title %}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <!-- 透過url_for設定HOME連結綁定index -->
      <a class="navbar-brand" href="{{ url_for('homepage') }}">HOME</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if current_user.is_authenticated %}
        <!-- 透過url_for設定LOGOUT連結綁定LOGOUT -->
          <li><a href="{{url_for('view_cart')}}">{{current_user.username}}</a></li>
          <li><a href="{{url_for('logout')}}">LogOut</a></li>
        <!-- 透過url_for設定LOGIN連結綁定LOGIN -->
        {% else %}
          <li><a href="{{ url_for('login') }}">LOGIN</a></li>
          <li><a href="{{ url_for('register') }}">SignUp</a></li>
        {% endif %}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock navbar %}